@model List<User>

<a href="/Users/Register" class="btn btn-outline-primary">Add</a>
<h1>All Users</h1>


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>UserName</td>
            <td>Password</td>
            <td>IsActive</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="my-2">@item.UserId</td>
                <td class="my-2">@item.UserName</td>
                <td class="my-2">@item.Password</td>
                <td>
                    <form asp-action="IndexA" asp-controller="Users" method="post">
                        <input type="hidden" name="id" value="@item.UserId" />
                        <button type="submit" class="btn btn-primary">@item.IsActive</button>
                       
                    </form>
                </td>


            </tr>

        }
    </tbody>
</table>
